<form asp-controller="Home" asp-action="PredictImage" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="UploadFIle">Select Image</label>
        <input type="file" name="UploadFIle" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Predict</button>
</form>
